
body{
  background-color: #2F303A;
  font-family:'Poppins', sans-serif;
  
}
/*
#circulo{
  height:100px;
  width:100px;
  background: #bc3a801a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

#circulo2{
  height:100px;
  width:100px;
  background: #3457b21a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

*/







  
  
 