
body{
  background-color: #2F303A;
  font-family:'Poppins', sans-serif;
  
  
 
  
}

@media (max-width: 1000px) {
  .imagenmujer {
    display: none;
  }
}

@media (max-width: 960px) {
  .textHome{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1rem;
  }
}

@media (max-width: 1064px) {
  .nav {
    marginLeft: 0rem;
    marginRight: 0rem;
    
    
  }
}

@media (max-width: 880px) {
  #join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
  }
}

.nav a{
  color: '#fffff5' ; 
  text-decoration: none;
}

/*
#circulo{
  height:100px;
  width:100px;
  background: #bc3a801a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

#circulo2{
  height:100px;
  width:100px;
  background: #3457b21a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

*/







  
  
 