
body{
  background-color: #2F303A;
  color: white;
  font-family:'Poppins', sans-serif;
  
}
/*
#circulo{
  height:100px;
  width:100px;
  background: #bc3a801a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

#circulo2{
  height:100px;
  width:100px;
  background: #3457b21a;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50px;
}

header {
  margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2%;
     
}

.imagen{
  width: 30%
}

.home {
  background-color: aqua;
  display: flex;
  justify-content: space-around;

  
}

.home .imagen {
  
}
.home .texto {
  
}


.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*/

  
  
 